@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
[data-theme='americana'] {
    --color-theme-100: #71969f;  
    --color-theme-200: #d71a21;
    }

  [data-theme='bloodOrange'] {
    --color-theme-100: #eb6b6f;
    --color-theme-200: #f9a875;
  }

  [data-theme='miku'] {
    --color-theme-200: #78478e;
    --color-theme-100: #58e1c3;
  }

  [data-theme='moonlight'] {
    --color-theme-100: #5fc75d;  
    --color-theme-200: #36868f;
  }
}